# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
.pytest_cache
*.pc
*.pyc
*.pyo
__pycache__


# C extensions
*.so

*.DS_*
# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox

#Translations
*.mo

#Mr Developer
venv
*.pyc
build